<nav class="grey darken-3">
    <div class="nav-wrapper container">
        {{#each purse}}
        <span class="menuTitle">
            Vagabound's Almanac
        </span>


        <a href="/purse/editMoney/{{_id}}" id="purseBtn">
            Purse:

            Platinum: {{platinum}} || Gold: {{gold}}
            || Silver: {{silver}} || copper: {{copper}}
        </a>




        {{!-- <span class="brand-logo center"> </span> --}}
        {{else}}
        <a href="/purse/addMoney" class="brand-logo center">Vagabound's Almanac: no money
            {{/each}}
            <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"> </i></a>
            <ul class="sidenav" id="mobile-demo">
                <li><a href="/stories">Party supplies</a></li>
                <li><a href="/dashboard">{{name}}'s Storage</a></li>

                <li><a href="/home">Spells & Combat Rules</a></li>
                {{!-- <li><a href="/conditions">conditions</a></li> --}}
                <li><a href="/marketPlace">Market & Conditions</a></li>
                <li><a href="/journal">Maps</a></li>
                {{!-- <li><a href="/character">Character</a></li> --}}
                <br>
                <br>
                <li><a href="/auth/logout">Logout</a></li>

            </ul>

    </div>

</nav>